USE [master]
GO
/****** Object:  Database [CaptureImageFromWebCam]    Script Date: 2/16/2018 5:39:57 PM ******/
CREATE DATABASE [CaptureImageFromWebCam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaptureImageFromWebCam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CaptureImageFromWebCam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CaptureImageFromWebCam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CaptureImageFromWebCam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaptureImageFromWebCam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaptureImageFromWebCam]
GO
USE [CaptureImageFromWebCam]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/16/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[email] [varchar](100) NULL,
	[photo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
